{% extends '@layout/default.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

	<div class="row align-items-center enable-login">

		<div class="col-sm"></div>
		<div class="col-sm">

			<div class="login-box">
				<!-- /.login-logo -->
				<div class="card card-outline card-primary">
					<div class="card-header text-center">
						<p class="h1">Change <b>password</b></p>
					</div>
					<div class="card-body">
						<p class="login-box-msg text-center">Here you can change the password for your account.</p>
						<div class="row">
							<div class="col-12">
								<p class="text-success font-weight-bold mt-3  set-sent text-center" style="display: none">Your password has been reset, you'll receive an email confirmation shortly.</p>
								<p class="text-danger font-weight-bold mt-3 set-fail text-center" style="display: none">The password couldn't be updated.</p>
							</div>
						</div>
						<form method="post" id="savePwForm">
							<input type="hidden" name="action" value="submit"/>
							<div class="input-group mb-3">
								<input id="password" name="password" type="password" class="form-control {{ default_text_color ~ ' ' ~ style ~ ' ' ~ align }}" placeholder="Passwort">
								<div class="input-group-append">
									<div class="input-group-text">
										<span class="fas fa-lock"></span>
									</div>
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-6"></div>
								<div class="col-6">
									<button type="submit" class="btn btn-primary btn-block save-pw">Save</button>
								</div>
							</div>
							<div class="row">
								<div class="col-6">
								</div>
								<!-- /.col -->
								<div class="col-6">
									<a class="btn btn-success btn-block to-login" href="{{ path(loginAt) }}">Back to Login</a>
								</div>
								<!-- /.col -->
							</div>

						</form>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
		</div>
		<div class="col-sm"></div>

	</div>

{% endblock %}
